@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
     html {
            font-family: 'Open Sans', sans-serif;
            width: 75%;
            margin: 0px auto;
        }
        body {
            margin: 0px;
            padding: 0px;
            background-color: #ebedee;
        }
        header {
            text-align: center;
        }
        main {
            margin-top: 5%;
            margin-bottom: 5%;
        }
        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .top {
            margin: 0;
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .name {
            text-transform: uppercase;
            font-size: 24px;
            letter-spacing: 3px;
        }
        .languages {
            text-decoration: none;
            text-transform: lowercase;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 2px;
        }
        ul.languages {
            padding: 0px;
            color: gray;
            margin: 10px 0px 40px 0px;
        }
        .languages li {
            list-style: none;
            display: inline-block;
            margin: 0px 15px;
        }
        .title {
            text-transform: lowercase;
            font-size: 36px;
            letter-spacing: 2px;
        }
        .sub-title {
            margin: 10px auto;
            text-decoration: none;
            text-transform: lowercase;
            text-align: justify;
            text-align-last: justify;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1px;
            width: 550px;
            color: gray;
        }
        .text {
            text-transform: lowercase;
            text-align: justify;
            text-align-last: justify;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1px;
            color: gray;
            margin-bottom: 20px;
        }
        .content {
            margin: 0px 10%;
            width: 25%;
        }
        .divider {
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: left;
            width: 75%;
        }
        .date {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 2px;
            color: gray;
        }
        .grade {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 3px;
        }
        .two-column-container {
            display: flex;
            justify-content: center;
        }
        .container {
            display: flex;
            flex-flow: row wrap;
            align-content: flex-start;
        }
        .container img {
            width: auto;
            height: 60px;
            margin: 5px auto;
            transition: all 0.4s ease-in-out;
            cursor: pointer;
            margin-bottom: 5px;
        }
        .container img:hover {
            box-shadow: 0px 0px 15px gray;
        }
        .fa-user-edit {
            font-size: 45px;
        }
        #language-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            padding: 10px;
            color: gray;
        }
        select {
            padding: 10px 5px;
            color: gray;
        }
        button {
            border: 1px solid lightgray;
            border-radius: 3px;
            width: 100%;
            padding: 10px;
            font-family: 'Open Sans', sans-serif;
            text-transform: lowercase;
            font-weight: 700;
        }
        #input-lock {
            background-size: 17px;
            background-repeat: no-repeat;
            
        }
        #input-user {
            width: 100%;
            background-image: url('images/lock.png');
            background-size: 17px;
            background-position: 7px 7px;
            background-repeat: no-repeat;
        }
        .help-block{
            color:red;
        }